<div class="item">
  <b><%= @line.title %></b>
  <p id="notice"><%= notice %></p>

  <div class="menu">
    <% @line.ship.each do |ship| %>
      <%= link_to ship.title, ship, class: "item" %>
    <% end %>
  </div>
</div>
<div class="menu">
  <%= link_to edit_line_path(@line), class: "item" do %>Edit <i class="pencil icon"></i><% end %>
  <%= link_to @line, method: :delete, data: { confirm: 'Are you sure?' }, class: "item" do %>Delete <i class="red delete icon"></i><% end   %>
  <%= link_to lines_path, class: "item" do %>Back <i class="left icon"></i><% end %>
</div>
