<%= form_for(@port, html: {class: "ui inverted item form"}) do |f| %>
  <% if @port.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@port.errors.count, "error") %> prohibited this port from being saved:</h2>

      <ul>
      <% @port.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui mini input field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="ui mini input field">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>
  <div class="ui disabled mini input field">
    <%= f.label :location %>
    <div class="ui left labeled icon input">
      <%= f.text_field :location, :value => @port.location %>
      <i class="black search icon"></i>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
