<div class="item">
  <b><%=t :port_of, port: @port.title %></b>

<%= render 'form' %>
</div>
<%= link_to t(:show), @port, class: "item" %>
<%= link_to t(:back), ports_path, class: "item" %>
<% map_marker(@port) %>
<% content_for :post_map_js do %>
editPort(<%= raw(@port.to_json) %>)
<% end %>

