<div class="item">
  <b><%=t '.list_ports' %></b>
  <div class="menu">
    <% @ports.each do |port| %>
      <div class="item">
        <%= link_to port.title, port, id: "link_port_#{port.id}" %>
        <div class="ui mini icon buttons">
          <div class="ui invertet basic button">
            <%= link_to edit_port_path(port) do %><i class="pencil icon"></i><% end %>
          </div>
          <div class="ui invertet basic button">
            <%= link_to port, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="red delete icon"></i><% end %>
          </div>
        </div>   
        <% map_marker(port) %>
      </div>
    <% end %>
    <%= link_to t('.new_port'), new_port_path, class: "item"%>
  </div>
</div>
