<%= form_for(@cruise_segment, html: {class: "ui error form"}) do |f| %>
  <% if @cruise_segment.errors.any? %>
    <div class="ui error message">
      <div class="header">><%= pluralize(@cruise_segment.errors.count, "error") %> prohibited this cruise_segment from being saved:</div>

      <ul class="list">
      <% @cruise_segment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cruise_id %><br>
    <%= f.collection_select :cruise_id, Cruise.all, :id, :title%>
  </div>
  <div class="field">
    <%= f.label :from_id %><br>
    <%= f.collection_select :from_id, Port.all, :id, :title%>
  </div>
  <div class="field">
    <%= f.label :to_id %><br>
    <%= f.collection_select :to_id, Port.all, :id, :title%>
  </div>
  <div class="field">
    <%= f.label :route %><br>
    <%= f.text_field :route %>
  </div>
  <div class="actions">
    <%= f.submit class: "ui blue submit button"%>
  </div>
<% end %>
