<%= form_for(@cruise_segment, html: {class: "ui error form"}) do |f| %>
  <% if @cruise_segment.errors.any? %>
    <div class="ui error message">
      <div class="header">><%= pluralize(@cruise_segment.errors.count, "error") %> prohibited this cruise_segment from being saved:</div>

      <ul class="list">
      <% @cruise_segment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field(:cruise_id, ) %>

  <div class="field">
    <%= f.label :from_id %>
    <% if @cruise_segment.from_id %>
      <%= f.hidden_field(:from_id) %>
      <%= @cruise_segment.from.title %>
    <% else %>
      <%= f.collection_select :from_id, Port.all, :id, :title%>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :leave %>
    <%= f.datetime_select :leave, :ampm => false, :minute_step => 15 %>
  </div>

  <div class="field">
    <%= f.label :to_id %><br>
    <%= f.collection_select :to_id, Port.all, :id, :title%>
  </div>
  <div class="field">
    <%= f.label :arrive %>
    <%= f.datetime_select :arrive, :ampm => false, :minute_step => 15 %>
  </div>

  <div class="field">
    <%= f.label :route %><br>
    <%= f.text_field :route %>
  </div>
  <div class="actions">
    <%= f.submit class: "ui blue submit button"%>
  </div>
<% end %>
