<div class="item">
  <b>Editing cruise_segment</<>
</div>
<div class="item">
<%= render 'form' %>

<%= link_to 'Show', @cruise_segment %> |
<%= link_to 'Back', cruise_segments_path %>
</div>
<% content_for :post_map_js do %>
  addCruiseSegment('<%= @cruise_segment.friendly_id %>', <%= @cruise_segment.route %>);
  editCruiseSegment('<%= @cruise_segment.friendly_id %>');
<% end %>
