<div class="item">
  <b>Listing cruise_segments</b>
</div>
<<div class="item">
<table>
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cruise_segments.each do |cruise_segment| %>
      <tr>
        <td><%= cruise_segment.from.title %></td>
        <td><%= cruise_segment.to.title %></td>
        <td><%= link_to 'Show', cruise_segment %></td>
        <td><%= link_to 'Edit', edit_cruise_segment_path(cruise_segment) %></td>
        <td><%= link_to 'Destroy', cruise_segment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cruise segment', new_cruise_segment_path %>
</div>
<% content_for :post_map_js do %>
  <% @cruise_segments.each do |cruise_segment| %>
    L.polyline([
      [<%=cruise_segment.from.latitude %>, <%=cruise_segment.from.longitude %>],
      [<%=cruise_segment.to.latitude %>, <%=cruise_segment.to.longitude %>]
      ]).addTo(map);
  <% end %>
<% end %>

