<div class="item">
<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @passenger.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @passenger.lastname %>
</p>

<div class="menu">
  <% @passenger.cruise.each do |cruise| %>
    <%= link_to cruise.title, cruise, class: "item" %>
    <% add_segments_to_map(cruise.itinerary) %>
  <% end %>
</div>

<%= link_to 'Edit', edit_passenger_path(@passenger) %> |
<%= link_to 'Change Password', new_password_path %> |
<%= link_to 'Back', passengers_path %>
</div>
