<div class="item">
  <b><%= @cruise.ship.title %> - <%= @cruise.title %></b>
  <p id="notice"><%= notice %></p>

  <ul class="itinerary">
    <li class="port"><i class="inverted circular anchor icon"></i><%= @cruise.segments[0].from.title %></li>
    <% @cruise.segments.each do |section| %>
      <li class="time leave">Leave: <%= section.leave %></li>
      <li class="time arrive">Arrive: <%= section.arrive %></li>
      <li class="port"><i class="inverted circular anchor icon"></i><%= section.to.title %></li>
    <% end %>
    <li class="port"><i class="inverted circular add icon"></i><%= link_to 'Add next Port', new_cruise_cruise_segment_path(@cruise) %></li>
  </ul>

<%= link_to 'Edit', edit_cruise_path(@cruise) %> |
<%= link_to 'Back', cruises_path %>
</div>

<% content_for :post_map_js do %>
  <% @cruise.segments.each do |segment| %>
  addCruiseSegment('<%= segment.friendly_id %>', <%= segment.route %>);
  <% end %>
<% end %>

