<div class="item">
  <b><%= @ship.title %></b>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Line:</strong>
    <%= @ship.line.title %>
  </p>

  <div class="menu">
    <%= link_to new_ship_port_of_call_path(@ship), class: "item" do %>Add Port of call<i class="add icon"></i><% end %>
    <%= link_to edit_ship_path(@ship), class: "item" do %>Edit <i class="pencil icon"></i><% end %>
    <%= link_to @ship, method: :delete, data: { confirm: 'Are you sure?' }, class: "item" do %>Delete <i class="red delete icon"></i><% end %>
    <%= link_to ship_path, class: "item" do %>Back <i class="left icon"></i><% end %>
  </div>
</div>
<% add_segments_to_map(@ship.port_of_call) %>
